// Set $debug to 'true' to see the breakpoints color rules
$debug: false;

// SETTINGS
$settings: (
    // Fonts
        mainFont: 'Open Sans',
    accentFont: 'Montserrat',
    monospaceFont: 'Inconsolata',
    // Palette
        lightColor: #ececec,
    mediumColor: #8c8b8b,
    darkColor: #666,
    accentColor: #5b8ab1
);

// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
