$debugLine: 5px;

@if $debug==true {
    html {
        &::after {
            content: '';
            height: 5px;
            width: 100%;
            position: fixed;
            bottom: 0;
            border-bottom: $debugLine solid transparent;

            @include mobile {
                border-color: #f5c6cb;
            }

            @include tablet {
                border-color: #ffeeba;
            }

            @include desktop {
                border-color: #26be49;
            }
        }
    }
    body,
    header,
    aside,
    main,
    footer,
    section,
    article {
        border: 1px dashed black;
    }
}
