blockquote {
    margin-left: 0; // Chrome set's 40px
    margin-right: 0; // Chrome set's 40px
}

button,
[type='reset'],
[type='submit'] {
    border: 0;
}

ul {
    padding-left: 0; // Chrome set's 40px
}

hr {
    border: 0;
}
