body {
    font-family: read('mainFont');
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: read('darkColor');
    cursor: default;
    @include mobile {
        padding-left: core($core, 'margin', 'xs');
        padding-right: core($core, 'margin', 'xs');
    }
    @include tablet-desktop {
        padding: core($core, 'margin', 'xs') core($core, 'margin', 'xs') 0
            core($core, 'margin', 'xs');
        align-content: flex-start;
    }
    @include desktop {
        max-width: 1000px;
        margin: auto;
    }
}
