<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../emperor.css" />
        <title>Sample page</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <aside>Aside</aside>

        <main>
            <span>Main</span>
            <section>
                <article>Article</article>
            </section>
        </main>

        <footer>Footer</footer>
    </body>
</html>
