button,
[type='submit'],
[type='reset'] {
    @extend %element;
    padding: core($core, 'margin', 'xs');
    border-bottom: 2px solid darken(read('accentColor'), 20%);
    background-color: read('accentColor');
    color: setContrastColor(read('accentColor'));
}

[type='submit'],
[type='reset'] {
    width: 100%;
}

form {
    @extend %element;
    border: {
        color: read('accentColor');
        width: 1px;
        style: solid;
    }
    padding: core($core, 'margin', 'xs');
}

fieldset {
    @extend %element;
    border: {
        color: read('accentColor');
        width: 1px;
        style: solid;
    }
    padding: core($core, 'margin', 'xs');
    legend {
        padding: core($core, 'margin', 'xs');
        color: setAccentColor();
    }
}

select,
option,
[type='text'] {
    padding: core($core, 'margin', 'xs');
    border: 1px solid read('accentColor');
}

meter {
    @extend %element;
    @include mobile-tablet {
        height: core($core, 'margin', 's');
    }
    @include desktop {
        height: core($core, 'margin', 'xs') * 2;
    }
}

progress {
    @extend %element;
    @include mobile-tablet {
        height: core($core, 'margin', 's');
    }
    @include desktop {
        height: core($core, 'margin', 'xs') * 2;
    }
}

input {
    @extend %element;
}
