h1,
h2,
h3 {
    @extend %element;
    @extend %block;
    font-family: read('accentFont');
    font-weight: bold;
    @include mobile {
        text-align: center;
    }
}

h1 {
    font-size: 2rem;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 12.5%;
        bottom: -5px;
        margin-left: auto;
        margin-right: auto;
        height: 1px;
        width: 75%;
        background-image: linear-gradient(
            to right,
            read('lightColor'),
            read('mediumColor'),
            read('lightColor')
        );
    }
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

hr {
    @extend %element;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 75%;
    background-image: linear-gradient(
        to right,
        read('lightColor'),
        read('mediumColor'),
        read('lightColor')
    );
}
