ul,
ol,
dl {
    @extend %block;
    @extend %element;
}

// Unordered lists

ul {
    li {
        list-style-type: none;
        &::before {
            content: '─ ';
            color: read('accentColor');
        }
    }
}

// Ordered lists

ol {
    counter-reset: numeration;
    li {
        list-style-type: none;
        counter-increment: numeration;
        border-bottom: 1px solid read('accentColor');
        margin-bottom: core($core, 'margin', 'xs');
        &::before {
            content: counter(numeration) '. ';
            background-color: read('accentColor');
            color: setContrastColor(read('accentColor'));
            display: inline-block;
            margin-right: core($core, 'margin', 'xs') * 2;
            padding-left: core($core, 'margin', 'xs') * 2;
            padding-right: core($core, 'margin', 'xs') * 2;
        }
    }
}

// Definition lists

dl {
    display: flex;
    flex-flow: row wrap;
}

dt,
dd {
    border-bottom: 1px solid read('accentColor');
    margin-bottom: core($core, 'margin', 'xs');
}

dt {
    color: read('accentColor');
    font-weight: 700;
    flex-basis: calc(100% / 3);
}

dd {
    flex-basis: calc((100% / 3) * 2);
}
