table {
    @extend %block;
    @extend %element;
    display: flex;
    flex-flow: row wrap;
}

tbody,
thead,
tfoot {
    width: 100%;
}

caption {
    @extend %block;
    font-style: italic;
    font-size: 1.25rem;
    &::after {
        @extend %block;
        content: '';
        height: 1px;
        width: 75%;
        margin: core($core, 'margin', 's') auto;
        background-image: linear-gradient(
            to right,
            read('lightColor'),
            read('mediumColor'),
            read('lightColor')
        );
    }
}

tr {
    display: flex;
    flex-flow: row nowrap;
    &:nth-child(even) {
        background-color: read('lightColor');
    }
}

th,
td {
    flex: 1;
    text-align: center;
    padding: core($core, 'margin', 'xs');
}

th {
    background-color: read('accentColor');
    color: setContrastColor(read('accentColor'));
}

thead,
tfoot {
    font-weight: 700;
}

thead {
    border-bottom: 1px solid read('mediumColor');
}

tfoot {
    border-top: 1px solid read('mediumColor');
}

td {
    &:not(:last-child) {
        border-right: 1px solid read('mediumColor');
    }
}
