abbr[title] {
    border-bottom: 1px solid read('accentColor');
}

address {
    width: 100%;
    @extend %element;
}

b {
    font-weight: 700;
}

blockquote {
    @extend %element;
    text-align: justify;
}

cite,
blockquote {
    border-left: 5px solid read('accentColor');
    padding: core($core, 'margin', 'xs');
    background-image: linear-gradient(
        to right,
        read('lightColor'),
        lighten(read('lightColor'), 20%)
    );
}

cite {
    @extend %element;
    font-style: italic;
}

p {
    @extend %element;
    text-align: justify;
}

code,
pre {
    font-family: read('monospaceFont');
}

em,
i {
    font-style: italic;
}
